*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
html
{
    font-size: 62.5%;
}
body
{
    min-height: 100vh;
    background: hsl(180deg, 45%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    min-width: 400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: hsl(180deg, 15%, 15%);
    border-radius: 1.5rem;
    padding: 2rem;
    
}
h1
{
    font-size: 2rem;
    color: #fff;
}
.container form
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1.5rem;
    
}
.container form input
{
    padding: 2rem 3rem;
    margin: 0.5rem 0;
    width: 90%;
    border-radius: .5rem;
    border: .1rem solid #fff;
    background: none;
    color: #fff;
}
.container form textarea
{
    width: 90%;
    border-radius: .5rem;
    border: .1rem solid #fff;
    background: none;
    padding: 2rem 3rem;
    margin: 0.5rem 0;
}
.container form input::placeholder
.container form textarea::placeholder
{
    color: #eee;
}